/* General */
@font-face {
    font-family: Commissioner-Thin;
    src: url(../fonts/Commissioner/static/Commissioner-Thin.ttf);
}

/* Header */
#header {
    background-color: #16260b;
    max-height: 10%;
}

#header-txt {
    color: #ffffff;
    font-family: "Merriweather", "Times New Roman", serif;
    text-align: left;
    font-size: 4vw;
}

#logo {
    width: 10vw
}

/* Main Content */
html {
    background-color: #16260b;
}

#main-content {
    background-color: #16260b;
}

#statement {
    color: #ffffff;
    font-family: "Commissioner-Thin";
    font-size: 2.5vw;
}

/* Bottom Navigation */
#bottom-nav {
    background-color: #16260b;
    min-height: 5%;
}

.btn {
    background-color: #16260b;
    border: #16260b;
    border-radius: 0px;

    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 2vw;
}

.btn:hover {
    background-color: #0d1707;
    border: #0d1707;
}

.btn:active {
    background-color: #0d1707;
    border: #0d1707;
}

#contact-linkedin {
    min-width: 1.5vw;
    max-width: 2vw;
}

#contact-email {
    min-width: 1vw;
    max-width: 2.5vw;
}